<%- include('./archivos/cabecera', { usuario: usuario }) %> 

<style>
    .box-encabezado {
        padding: 5px;
        background-color: #00296b;
        color: white;
    }
</style>

<br>

<section class="seccion">
  <div class="container">
    <center><img src="https://scontent.faep1-1.fna.fbcdn.net/v/t1.0-9/79094685_437852536880564_2277927976647524352_o.jpg?_nc_cat=110&ccb=2&_nc_sid=e3f864&_nc_ohc=YlQsiGn9rKkAX-aRFKJ&_nc_ht=scontent.faep1-1.fna&oh=2ac6f911a4b912e4bda94ed5be328dc7&oe=5FEE4D06" class="img-fluid" width="600" height="600"></center>
    <br>
    <h4 class="box-encabezado"><b>>></b> Sobre nosotros </h4>
    <br>
    <p> 
      El <u>Instituto Superior de Formación Técnica Nº 190</u> es un establecimiento de nivel terciario no universitario, oficial, dependiente de la Dirección de Educación Superior de la Dirección General de Cultura y Educación de la Provincia de Buenos Aires.
      <br>
      Dicta ininterrumpidamente desde 1984 carreras de modalidad técnica, otorgando títulos oficiales con validez nacional.
      <br>
      Las carreras son en general de corta duración (3 años) con apreciable salida laboral de sus egresados.
      <br>
      Existen además, convenios con otros institutos o Universidades para que nuestros graduados puedan proseguir estudios superiores.
    </p>
    <br>
    <h4 class="box-encabezado"><b>>></b> Nuestra historia</h4>
    <br>
    <p>
      El 9 de Noviembre de 1983, a iniciativa de un ente promotor presidido por el Sr. Pedro del Río y con el patrocinio – mediante un convenio de asistencia y coparticipación – de la Municipalidad de Coronel Rosales, la Cooperativa Eléctrica de Punta Alta y el Banco Vallemar Cooperativo Limitado (entidad hoy disuelta) fue creado el Centro Educativo de Nivel Terciario Nº 17, dependiente entonces de la Dirección Nacional de Educación del Adulto (DINEA). <br><br>
      En Marzo de 1984 comienza la actividad  de formación del grado de la nueva institución con el dictado de tres carreras técnicas de nivel superior de tres años de duración. <br><br>
      Como producto del Plan de Transformación Educativa iniciado en la Argentina en los inicios de la década del noventa y formando parte del proceso de reforma del estado que se viene llevando a cabo en la región latinoamericana en los últimos años, surge la denominada reforma educativa, instituida en lo fundamental, a través de la  sanción de la Ley Federal de Educación Nº 24.195/93 y de la Ley Provincial de Educación Nº 11.612/94, que establecen un nuevo marco regulatorio del sistema educativo con reestructuración de los niveles de enseñanza, ampliación de la obligatoriedad escolar, transferencia de todos los servicios nacionales a las provincias y organización de un sistema federal concertado, entre otros temas. <br><br>
      A partir de 1994 y como consecuencia del traspaso a la jurisdicción de la Provincia de Buenos Aires, la institución pasa a denominarse Instituto Superior de Formación Docente y Técnica N° 190 de Coronel Rosales, bajo la dependencia de la Dirección de Educación Superior y, a su vez, dentro de la órbita de la Dirección General de Cultura y Educación de la Provincia de Buenos Aires. <br>
      El instituto continúa con la formación de grado en tres de carreras de nivel superior técnico, siempre de tres de duración con nuevos planes de estudios aprobados por la jurisdicción provincial, con la excepción, por un breve lapso en el tramo final de los 90, de la vigencia de una carrera de la especialidad “Análisis de sistemas” de 4 años de duración, actualmente cerrada. Las carreras se dictan a ciclo cerrado. Esto que significa que las actuales modalidades de formación de grado superior pueden ser reemplazadas por otras en el supuesto de que se verifique una demanda insuficiente o una excesiva oferta de graduados con relación a las posibilidades inserción laboral en la región. <br><br>
      Desde sus inicios y hasta 1995, la dirección del establecimiento estuvo a cargo del Ingeniero Carlos Alberto Rivero, secundado en una primera etapa por el Ingeniero José María Saavedra y luego por el Ingeniero Raúl Heriberto Diez. A partir de Marzo de 1996, el Instituto es dirigido por el Contador Público Rodolfo Pedro Bermúdez y desde el mes de abril de 1999 se desempeña en calidad de Secretario Académico el Ingeniero Néstor Hugo Starc. En la actualidad, es presidida nuestra institución por el Contador Público Antonio Luis Di Bella a quien acompañan como Secretario el Lic. Julio César Ausili.
    </p>
  </div>
</section>


<br>
<br>
<%- include('./archivos/footer') %> 