<!-- Footer -->  
<footer class="footer_2">
  <div class="container">
      <div class="footer_top">
          <div class="row">
              <div class="col-12 col-md-6 col-lg-4">
                  <div class="footer_single_col footer_intro">
                      <p>(Poner logo) Instituto Superior de Formación Técnica Nº 190.</p>
                      <br>
                      <b>Villanueva 175 (Altos) - Punta Alta </b> 
                      <br>
                      <b>Azara 1250 - Bahia Blanca</b>
                      <br>
                      Tel: 02932-435160
                      <br><br>
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3105.6100198980653!2d-62.081398284649936!3d-38.88716337957215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95ed9d54215daed7%3A0xe25b97cb790b44c4!2sVillanueva%20175%2C%20Punta%20Alta%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1605628894398!5m2!1ses-419!2sar" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

                  </div>
              </div>
              <div class="col-12 col-md-6 col-lg-2">
                  <div class="footer_single_col">
                      <h3>Accesos rápidos</h3>
                      <ul class="location_info quick_inf0">
                          <li><a href="#">Moodle</a></li>
                          <li><a href="#">Iniciar sesión</a></li>
                          <li><a href="#">Registro</a></li>
                      </ul>                         
                  </div>
              </div>
              <div class="col-12 col-md-6 col-lg-2">
                  <div class="footer_single_col information">
                      <h3>Redes sociales</h3>
                      <ul class="social_items d-flex list-unstyled">
                          <li><a href="#"><i class="fab fa-facebook-f fb-icon"></i></a></li>
                          <li><a href="#"><i class="fab fa-twitter twitt-icon"></i></a></li>
                          <li><a href="#"><i class="fab fa-linkedin-in link-icon"></i></a></li>
                          <li><a href="#"><i class="fab fa-instagram ins-icon"></i></a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                  <div class="footer_single_col contact">
                      <div class="apply_instructor">
                          <div class="form_title">
                              <h3>Contactanos!</h3>
                          </div>
                          <form action="#">
                              <div class="row">
                                  <div class="col-12 col-lg-12 col-md-12 col-lg-12">
                                      <div class="form-group">
                                          <label class="control-label">Nombre completo</label>
                                          <input type="text" class="form-control"  placeholder="">
                                      </div>
                                  </div>                            
                                  <div class="col-12 col-lg-12 col-md-12 col-lg-12">
                                      <div class="form-group">
                                          <label class="control-label">Correo electrónico</label>
                                          <input type="email" class="form-control"  placeholder="">
                                      </div>
                                  </div>                            
                                  <div class="col-12 col-lg-12 col-md-12 col-lg-12">
                                      <div class="form-group">
                                          <label class="control-label">Teléfono</label>
                                          <input type="text" class="form-control"  placeholder="">
                                      </div>
                                  </div>
                                  <div class="col-12 col-lg-12 col-md-12 col-lg-12">
                                      <div class="form-group">
                                          <label class="control-label">Mensaje</label>
                                          <textarea class="form-control"  placeholder=""></textarea> 
                                      </div>
                                  </div>
                                  <div class="col-12 col-lg-12 col-md-12 col-lg-12">
                                      <button type="submit" class="btn btn-default submit_btn float-right">Enviar</button>
                                  </div> 
                                  
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
               <div class="col-12 col-md-12 col-lg-12">
                  <div class="copyright">
                      <!-- <a target="_blank" href="https://www.templateshub.net">Templates Hub</a> -->
                  </div>
               </div>
          </div>
      </div>
  </div>
  <div class="shapes_bg">
      <img src="/public/images/shapes/testimonial_2_shpe_1.png" alt="" class="shape_3">        
      <img src="/public/images/shapes/footer_2.png" alt="" class="shape_1">
  </div>    
</footer><!-- End Footer -->

<section id="scroll-top" class="scroll-top">
  <h2 class="disabled">Volver arriba</h2>
  <div class="to-top pos-rtive">
      <a href="#"><i class = "flaticon-right-arrow"></i></a>
  </div>
</section>

  <!-- JavaScript -->
  <script src="/public/js/jquery-3.2.1.min.js"></script>
  <script src="/public/js/popper.min.js"></script>
  <script src="/public/js/bootstrap.min.js"></script>
  <!-- Revolution Slider -->
  <script src="/public/js/assets/revolution/jquery.themepunch.revolution.min.js"></script>
  <script src="/public/js/assets/revolution/jquery.themepunch.tools.min.js"></script> 
  <script src="/public/js/jquery.magnific-popup.min.js"></script>     
  <script src="/public/js/owl.carousel.min.js"></script>   
  <script src="/public/js/slick.min.js"></script>   
  <script src="/public/js/jquery.meanmenu.min.js"></script>   
  <script src="/public/js/wow.min.js"></script> 
  <!-- Counter Script -->
  <script src="/public/js/waypoints.min.js"></script>
  <script src="/public/js/jquery.counterup.min.js"></script>

  <!-- Revolution Extensions -->
  <script src="/public/js/assets/revolution/extensions/revolution.extension.actions.min.js"></script>
  <script src="/public/js/assets/revolution/extensions/revolution.extension.carousel.min.js"></script>
  <script src="/public/js/assets/revolution/extensions/revolution.extension.kenburn.min.js"></script>
  <script src="/public/js/assets/revolution/extensions/revolution.extension.layeranimation.min.js"></script>
  <script src="/public/js/assets/revolution/extensions/revolution.extension.migration.min.js"></script>
  <script src="/public/js/assets/revolution/extensions/revolution.extension.navigation.min.js"></script>
  <script src="/public/js/assets/revolution/extensions/revolution.extension.parallax.min.js"></script>
  <script src="/public/js/assets/revolution/extensions/revolution.extension.slideanims.min.js"></script>
  <script src="/public/js/assets/revolution/extensions/revolution.extension.video.min.js"></script>
  <script src="/public/js/assets/revolution/revolution.js"></script>
  <script src="/public/js/custom.js"></script>  
  
</body>
</html>
